@media (max-width: 400px){

    .eppdieaq{
        position :absolute;
        left : 0px;
    }

    .pelldmed{
        position :absolute;
        left : 20px;
    }

    .ieivnsff{
        position :absolute;
        left : 40px;
    }

    .oieruohg{
        position :absolute;
        left : 60px;
    }

    .apozivxf{
        position :absolute;
        left : 80px;
    }

    .zpeofvsf{
        position :absolute;
        left : 100px;
    }

    .zsdpgibj{
        position :absolute;
        left : 120px;
    }

    .apozisfd{
        position :absolute;
        left : 140px;
    }

    .qsdfghja{
        position :absolute;
        left : 160px;
    }

    .oiojieoj{
        position :absolute;
        left : 180px;
    }

    .solution{
    margin-bottom : 50px;
    }

}