body{
    margin : 0;
    background-color : #111;
	font-family: "Segoe UI", sans-serif;
	color : #fff;
}

.main-container{
	display : table;
	width : 100%;
	box-sizing : border-box;
	vertical-align : top;
}

/* HEADER */
.head-container{
    height : 200px;
    background : url('header_bg.png') no-repeat left center;
    background-size : 100%;
}

.head-container h1{
    margin : 0;
    text-indent : -9999px;
    width : 0; height : 0;
}

/* MAINMENU */
.mainmenu-container{
    height : 36px;
    background-color : #000;
    background-image : url('bg_mainmenu.png');
    box-shadow : #000 0px 0px 16px;
}

.mainmenu{
    padding : 0;
    margin : 0;
    height : 36px;
    font-size : 0;
}

.mainmenu li{
    display : inline-block;
}

.mainmenu li a{
    display : inline-block;
    font-size : 18px;
    line-height : 36px;
    text-decoration : none;
    color : #888;
    width : 150px;
    text-align : center;
    text-shadow : rgba(255,255,255,0.2) 0px 1px;
}

.mainmenu li a:hover{
	background-color : rgba(255,125,0,0.5);
    background-image : url('bg_mainmenu_hover.png');
    box-shadow : #f00 0px 0px 2px 1px inset, #000 0px 0px 10px inset, #000 0px 0px 10px 2px;
    color : #ffd130;
    text-shadow : #8f6500 0px 1px 0px;
}

/* CONTENT */

.content {
	box-sizing : border-box;
	display : table-cell;
	padding-top : 12px;
    vertical-align : top;
}

.content-section{
	background-attachment : fixed;
    background-size : 100% auto;
	padding : 12px;
    margin : 0px 0;
    box-shadow : #111 0px 0px 2px 4px inset;
}

/* SIDEBAR */

.sidebar {
	box-sizing : border-box;
	width : 250px;
    background-color : rgba(255,0,0,0.5);
	display : table-cell;
	padding : 12px;
    vertical-align : top;
	background-image : url('bg_sidebar.png');
}


/* LOGINFORM */

.sidebar h2{
	text-align: center;
}



/* USERBOX */

.userbox{
	
}

.userbox form{
	text-align : center;
}

}
/* SINGLE BACKGROUNDS */
#content-register{
	background-image : url('1.jpg');
}

#content-welcome{
	background-image : url('top.jpg');
}

#content-howtoplay{
	background-image : url('mid.jpg');
}

#content-news{
	background-image : url('bot.jpg');
}

#content-us{
	background-image : url('1.jpg');
}

#content-findus{
	background-image : url('rice.jpg');
}


.datebox{
	text-align : right;
	font-style : italic;
	color : #ccc;
	font-size : 0.8em;
}

.center{
	text-align : center;
}

/* CONTACT */

.cell-container{
	display : table;
	width : 100%;
}

.cell{
	vertical-align : top;
	display : table-cell;
}

.shadowed{
	box-shadow : #000 4px 4px 10px -2px;
}