body{
    margin : 0;
    background-color : #111;
	font-family: "Segoe UI", sans-serif;
	color : #bbb;
}

.main-container{
	display : table;
	width : 100%;
	box-sizing : border-box;
	vertical-align : top;
}

/* HEADER */
.head-container{
    height : 200px;
    background : url('header_bg.png') no-repeat left center;
    background-size : 100%;
}

.head-container h1{
    margin : 0;
    text-indent : -9999px;
    width : 0; height : 0;
}

/* MAINMENU */
.mainmenu-container{
    height : 36px;
    background-color : #000;
    background-image : url('bg_mainmenu.png');
    box-shadow : #000 0px 0px 16px;
}

.mainmenu{
    padding : 0;
    margin : 0;
    height : 36px;
    font-size : 0;
}

.mainmenu li{
    display : inline-block;
}

.mainmenu li a{
    display : inline-block;
    font-size : 18px;
    line-height : 36px;
    text-decoration : none;
    color : #888;
    width : 150px;
    text-align : center;
    text-shadow : rgba(255,255,255,0.2) 0px 1px;
}

.mainmenu li a:hover{
	background-color : rgba(255,125,0,0.5);
    background-image : url('bg_mainmenu_hover.png');
    box-shadow : #f00 0px 0px 2px 1px inset, #000 0px 0px 10px inset, #000 0px 0px 10px 2px;
    color : #e7bf35;
    text-shadow : #8f6500 0px 1px 0px;
}

/* CONTENT */

.content {
	box-sizing : border-box;
	display : table-cell;
    vertical-align : top;
}

.content-section{
	background-attachment : fixed;
	padding : 12px;
    margin : 0px 0;
}

.msg-box{
    border-bottom: solid 1px #000;
    box-shadow : #666 0px -24px 12px -24px inset;
}

.msg-box .msg-list{
    margin : 12px;
}

/* SIDEBAR */

.sidebar {
	box-sizing : border-box;
	width : 250px;
    background-color : rgba(255,0,0,0.5);
	display : table-cell;
	padding : 12px;
    vertical-align : top;
	background-image : url('bg_sidebar.png');
    color : #ffc9a1;
    text-shadow : #410000 0px -1px;
    position : relative;
}

.sidebar input{
    border : solid 1px #000;
    box-shadow : #000 0px 0px 4px inset;
    background-color : rgba(0,0,0,0.7);
    color : #a28522;
    padding : 4px 8px;
    width : 100%;
    box-sizing : border-box;
}

.sidebar input[type="submit"], input[type="button"]{
    width : auto;
}

/* LOGINFORM */

.sidebar h2{
	text-align: center;
}



/* USERBOX */

.userbox{
	
}

.userbox form{
	text-align : center;
}

/* FOOTER */
.main-footer{
    background-image : url('bg_footer.png');
    border : solid 1px black;
    box-shadow : #222 0px 1px inset;
    text-align : center;
    padding : 6px;
}

/* SINGLE BACKGROUNDS */
#content-register{
	background-image : url('bg_01.jpg');
    color : #ffc0c0;
}

#content-welcome{
	background-image : url('bg_02.jpg');
    background-position : top left;
    background-size : cover;
    text-shadow : #000 0px 0px 6px, #000 0px 0px 6px;
    border-bottom : solid black 1px;

    color : #eade9e;
}

#content-howtoplay{
	background-image : url('bg_01.jpg');
    background-position : bottom left;
    background-size : cover;
    
    text-shadow : #000 0px 0px 6px, #000 0px 0px 6px;
    box-shadow : #000 0px 0px 16px 6px inset;
    
    border-top : solid #8e4900 1px;
    border-bottom : solid #773a02 1px;
    color : #ffc6c6;

}

#content-news{
	background-image : url('bg_03.jpg');
    background-position : top left;
    background-size : cover;
    
    text-shadow : #000 0px 0px 6px, #000 0px 0px 6px;
    border-top : solid black 1px;
    color : #ffc389;
}

#content-us{
	background-image : url('bg_04.jpg');
    background-position : top left;
    background-size : cover;
    border-bottom : solid #300000 1px;
    text-shadow : #000 0px 0px 6px, #000 0px 0px 6px;
}

#content-findus{
	background-image : url('bg_01.jpg');
    background-position : top left;
    background-size : cover;
    border-top : solid black 1px;
    text-shadow : #000 0px 0px 6px, #000 0px 0px 6px;
    color : #ffb4b4
}


.datebox{
	text-align : right;
	font-style : italic;
	color : #ccc;
	font-size : 0.8em;
}

.center{
	text-align : center;
}
.right{
	text-align : right;
}
.left{
	text-align : left;
}

.little{
	font-size : 0.9em;
}
p.pnomargin{
	margin : 0;
}

/* CONTACT */

.cell-container{
	display : table;
	width : 100%;
}

.cell{
	vertical-align : top;
	display : table-cell;
}

.shadowed{
	box-shadow : #000 4px 4px 10px -2px;
}

a{
    color : #ffc938;
    text-decoration : none;
}
a:hover{
    color : #fff6d0;
}

input{
    border : solid 1px #000;
    background-color : rgba(255,180,160,0.7);
    box-shadow : #400 0px 0px 8px 0px inset, #ff6c6c 0px 0px 0px 1px;
    color : #000;
    padding : 4px 8px;
}

input[type="submit"], input[type="button"]{
    border : solid 1px #b58515;
    color : #000;
    text-shadow : rgba(255,150,150,0.5) 0px 1px 1px;
    box-shadow : none;
    border-radius : 3px;
    box-shadow : #000 0px 0px 4px -2px inset, rgba(50,10,0,0.3) 0px 0px 0px 1px inset;
    font-weight : bold;
    
    /*gradient*/
    background: #ffc938; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc938 0%, #dd8800 100%, #b58515 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc938), color-stop(100%,#dd8800), color-stop(100%,#b58515)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc938 0%,#dd8800 100%,#b58515 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc938 0%,#dd8800 100%,#b58515 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc938 0%,#dd8800 100%,#b58515 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc938 0%,#dd8800 100%,#b58515 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc938', endColorstr='#b58515',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:hover, input[type="button"]:hover{
    border : solid 1px #dba24c;
    color : #000;
    text-shadow : rgba(255,200,200,0.3) 0px 1px;
    box-shadow : none;
    border-radius : 3px;
    box-shadow : #000 0px 0px 4px -2px inset, rgba(50,10,0,0.3) 0px 0px 0px 1px inset;
    
    /*gradient*/
    background: #ffd772; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd772 0%, #dba24c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd772), color-stop(100%,#dba24c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd772 0%,#dba24c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd772 0%,#dba24c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd772 0%,#dba24c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffd772 0%,#dba24c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd772', endColorstr='#dba24c',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:active, input[type="button"]:active{
    border : solid 1px #ff9e28;
    color : #000;
    text-shadow : rgba(255,200,200,0.3) 0px 1px;
    box-shadow : none;
    border-radius : 3px;
    box-shadow : #774000 0px 0px 12px 0px inset, rgba(50,20,0,0.3) 0px 0px 0px 1px inset;
    
    /*gradient*/
    background: #e0791f; /* Old browsers */
    background: -moz-linear-gradient(top, #e0791f 0%, #ff9e28 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0791f), color-stop(100%,#ff9e28)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0791f 0%,#ff9e28 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0791f 0%,#ff9e28 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0791f 0%,#ff9e28 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0791f 0%,#ff9e28 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0791f', endColorstr='#ff9e28',GradientType=0 ); /* IE6-9 */
}